body {
  font-family: "Arial", sans-serif;
  background-color: #1a1a1a;
  color: #f2f2f2;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #e74c3c;
  margin: 20px 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #2c2c2c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow-y: auto;
}

.form-container {
  flex: 1;
  background: #333333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  height: 30%;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  font-size: 14px;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

form button {
  align-self: flex-start;
  background-color: #e74c3c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.list-container {
  flex: 2;
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.todo-item {
  padding: 15px;
  margin: 10px 0;
  background: #333333;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.todo-item .text-content {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 150px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.todo-item h3 {
  margin: 0;
  color: #f2f2f2;
}

.todo-item p {
  margin: 5px 0;
  color: #dcdcdc;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.todo-item button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.todo-item.completed {
  background: #7f0000;
}

.todo-item.completed .check-icon {
  display: block;
}

.check-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #2ecc71;
}

button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

button:first-of-type {
  background-color: #e74c3c;
  color: white;
}

button:last-of-type {
  background-color: #c0392b;
  color: white;
}

.list-container p {
  color: #ccc;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
